
@{
    ViewBag.Title = "Detachment";
}

<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<div style="background: Gainsboro;">
    <h1>Отряды животных</h1>
</div>

<h3>
    <table border="1" width="700px">
        <tr>
            <td> Id</td>
            <td> Detachment_name</td>
            <hr />
        </tr>
        @foreach (var b in ViewBag.Detachment)
        {
            <tr>
                <td>@b.Id </td>
                <td>@b.Detachment_name</td>  
               
            </tr>
        }
    </table>
</h3><br/><br />
<p class="readmore-w3">@Html.ActionLink("Добавить отряд", "AddDetachment", "Detachment")</p><br /><br />
<div style="background: Gainsboro;">
    <h1>Виды животных</h1>
</div>
<h3>
    <table border="1" width="700px">
        <tr>
            <td> Id</td>
            <td> Suborder</td>
            <td> RUS_name</td>
            <td> ENG_name</td>
            <hr />
        </tr>
        @foreach (var b in ViewBag.Species)
        {
            <tr>
                <td>@b.Id </td>
                <td>@b.Suborder</td>
                <td>@b.RUS_name</td>
                <td>@b.ENG_name</td>

            </tr>
        }
    </table>
</h3><br /><br />
<p class="readmore-w3">@Html.ActionLink("Добавить вид", "AddSpecies", "Detachment")</p>

